.spFeatureSpace {
    padding-top: 96px;
}
.spFeature {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.spFeatureflex {
    display: flex;
    justify-content: center;
    position: relative;
}
.soraToplogo {
    position: absolute;
    top: 0%;
    left: 35%;
}
.soraToplogo02 {
    padding-top: 48px;
}
.spFeatureBox {
    width: 530px;
    display: flex;
    background-color: #F6F6F6;
    margin: 10px;
}
.spFeatureBoxTxt {
    padding: 16px 24px 16px 16px;
}
.spFeatureBoxTxt02 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #595757;
}
.spFeatureBoxTxt03 {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    color: #595757;
    padding-top: 8px;
}
.spFeatureBoxTxt04 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #595757;
    padding-top: 8px;
}
.spFeatureBoxTxt05 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #B5B5B6;
}
.spFeatureBoxTxt06 {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    color: #B5B5B6;
    padding-top: 8px;
}
.spFeatureBoxTxt07 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #B5B5B6;
    padding-top: 8px;
}
.soraPosition {
    position: absolute;
    top: 58%;
    left: 10%;
}
.spFeature {
    display: flex;
    justify-content: center;
}
.spFeature figure {
    margin: 0;
}
.spFeatureTxt {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: #231815;
    text-align: center;
    margin: 16px 0 0 0;
}
.soraPositionText {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #FFFFFF;
    font-size: 3rem;
    font-family: 'A-OTF リュウミン Pro',sans-serif;
    letter-spacing: 0.2em;
    position: absolute;
    top: 6%;
    left: 80%;
}
.spFeatureBg {
    background-color: #F6F6F6;
    padding: 48px;
}
.spFeature02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
}

.spFeatureTxt02 {
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.26em;
    margin: 0 16px 0 0;
    color: #595757;
}
.spFeatureTxt03 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #429AD0;
    margin-top: 64px;
}
.spFeatureTxt04 {
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
    font-size: 1.4rem;
    margin-top: 80px;
    color: #595757;
}
.spFeatureTxt05 {
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.2em;
    line-height: 1.32;
    margin-top: 32px;
    color: #595757;
}
.spFeatureTxt06 {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    color: #595757;
    margin-top: 16px;
}
.spFeatureTxt07 {
    font-family: 'A-OTF リュウミン Pro', sans-serif;
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    color: #595757;
    font-weight: 100;
    padding: 40px 0;
    line-height: 1.5;
}
.spFeatureTxt08 {
    font-family: 'A-OTF リュウミン Pro', sans-serif;
    font-size: 6rem;
    letter-spacing: 0.1em;
    color: #595757;
    font-weight: 100;
}

.spFeatureTxt09 {
    font-family: 'A-OTF 中ゴシックBBB Pro Medium',sans-serif;
    font-size: 1.6rem;
    color: #595757;
    padding-bottom:40px;
    line-height: 2.5;
}

.spFeatureContent {
    width: 600px;
    margin-left: 2rem;
}
.spFeatureContent02 {
    width: 600px;
}
.spFeatureContents01 {
    font-family: 'RyuminPr5 Light-83pv-RKSJ-H◆',sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #595757;
    padding-bottom: 12px;
}
.spFeatureContents02 {
    font-family: 'RyuminPr5 Light-83pv-RKSJ-H◆',sans-serif;
    font-size: 3.2rem;
    color: #595757;
    width: 576px;
    padding-bottom: 12px;
    line-height: 1.61;
}
.spFeatureContents03 {
    font-family: 'A-OTF 中ゴシックBBB Pro Medium',sans-serif;
    font-size: 1.6rem;
    color: #595757;
    width: 565px;
    line-height: 2;
}
.spFeatureContents04 {
    font-family: 'A-OTF 中ゴシックBBB Pro Medium',sans-serif;
    font-size: 1.6rem;
    color: #595757;
    width: 573px;
    line-height: 2;
}

.spFeatureLine {
    border: 1px solid lightgray;
    padding: 32px;
    margin-top: 48px;
}
.spFeatureContents05 {
    font-family: 'RyuminPr5 Light-83pv-RKSJ-H◆',sans-serif;
    font-size: 3.2rem;
    color: #595757;
    text-align: center;
}
.spFeatureContents06 {
    font-family: 'A-OTF 中ゴシックBBB Pro Medium',sans-serif;
    font-size: 1.6rem;
    width: 322px;
    color: #595757;
    line-height: 2;
    padding-top: 24px;
}
.spFeatureContents07 {
    font-family: 'RyuminPr5 Light-83pv-RKSJ-H◆',sans-serif;
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    color: #595757;
    padding-top: 24px;
    width: 721px;
}
.spFeatureContents08 {
    font-family: 'A-OTF 中ゴシックBBB Pro Medium',sans-serif;
    font-size: 1.6rem;
    color: #595757;
    line-height: 2;
    padding-top: 32px;
}
.spFeatureContents09 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.spFeatureContents10 {
    margin-right: 32px;
}
.dotPosition {
    position: absolute;
    top: 10.8%;
    right: 1%;
}
.dotPosition02 {
    position: absolute;
    top: 13%;
    right: 1%;
}
