.message-message {
    position: absolute;
    top: 55%;
    left: 34%;
}
.message-message p {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 0.5em;
    padding-bottom: 32px;
}

.messageImg01 {
    border-radius: 50%;
    margin: 16px;
    border: 3px solid #429AD0;
}
.messageImg02 {
    border-radius: 50%;
    margin: 16px;
    border: 3px solid #DCDDDD;
}
.messageTxt01 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.6em;
    color: #35A7D2;
    padding-top: 32px;
}
.messageTxt02 {
    font-size: 2.7rem;
    letter-spacing: 0.2em;
    line-height: 1.86;
    font-weight: 600;
    color: #3E3A39;
    padding-top: 64px;
}
.messageTxt03 {
    font-size: 2rem;
    letter-spacing: 0.2em;
    font-weight: 100;
    line-height: 2.05;
    color: #595757;
    padding-top: 64px;
}
.messageTxt04 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: lighter;
    color: #595757;
}
.messageTxt05 {
    font-size: 2.7rem;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: #3E3A39;
    padding-top: 32px;
}
.messageTxt06 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #35A7D2;
    vertical-align: middle;
}
.messageTxt07 {
    font-size: 2.4rem;
    letter-spacing: 0.4em;
    font-weight: 600;
    color: #35A7D2;
    padding-top: 60px;
    padding-left: 25px;
    position: relative;
}
.messageTxt07::before {
    content: "";
    background: url("img/message/messageicon17.png");
    background-size: contain;
    width: 29px;
    height: 29px;
    position: absolute;
    left: -1%;
    top: 66%;
    display: block;

}
.messageTxt08 {
    font-size: 1.6rem;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: #595757;
    padding-top: 17px;
    line-height: 2;
}
.messageTxt09 {
    font-size: 2.4rem;
    letter-spacing: 0.4em;
    font-weight: 600;
    color: #35A7D2;
    padding-left: 25px;position: relative;
}
.messageTxt09::before {
    content: "";
    background: url("img/message/messageicon17.png") no-repeat;
    background-size: contain;
    width: 29px;
    height: 29px;
    position: absolute;
    left: -1%;
    top:0;
    display: block;

}
.messagemvImg01 {
    border: 3px solid #429AD0;
    border-radius: 15px;
    margin-right: 32px;
}
.messagemvImg02 {
    border: 3px solid #429AD0;
    border-radius: 15px;
    margin-left: 32px;
}
.messagePosition {
    position: relative;
}
.messageIcon01 {
    position: absolute;
    top: 1%;
    left: 70%;
}
.messageIcon02 {
    position: absolute;
    top: 15%;
    left: -15%;
}
.messageIcon03 {
    position: absolute;
    top: 13%;
    left: 95%;
}
.messageIcon04 {
    position: absolute;
    top: 24.5%;
    left: 30%;
}
.messageIcon05 {
    position: absolute;
    top: 25.5%;
    left: 95%;
}
.messageIcon06 {
    position: absolute;
    top: 38.5%;
    left: 49%;
}
.messageIcon07 {
    position: absolute;
    top: 51.5%;
    left: -15%;
}
.messageIcon08 {
    position: absolute;
    top: 54%;
    left: 48%;
}
.messageIcon09 {
    position: absolute;
    top: 52.5%;
    left: 86%;
}
.messageIcon10 {
    position: absolute;
    top: 65%;
    left: 105%;
}
.messageIcon11 {
    position: absolute;
    top: 76.5%;
    left: 90%;
}
.messageIcon12 {
    position: absolute;
    top: 96%;
    left: 13%;
}
.messageIcon13 {
    position: absolute;
    top: 96%;
    left: 76%;
}
.messageIcon14 {
    position: absolute;
    top: 98%;
    left: 90%;
}
.messageIcon15 {
    position: absolute;
    top: 95%;
    left: 100%;
}
.messageIcon16 {
    position: absolute;
    top: 88%;
    left: 2%;
}
.messageIcon17 {
    position: absolute;
    top: 97.5%;
    left: 3%;
}
.messageIcon18 {
    position: absolute;
    top: 88.5%;
    left: 99%;
}