.footerBg {
    background-color: #F6F6F6 !important;
}
.sectionBg {
    background-color: #F6F6F6;
    padding: 128px 0 64px 0;
}
.newsmvImg {
    text-align: center;
    padding: 64px 0;
}
.newsContent {
    display: flex;
    background-color: white;
    margin: 40px 0 50px 0;
    justify-content: center;
}

.newsContents01 {
    background-color: #EFB66D;
    border-radius: 5px;
    margin-bottom: 16px;
}
.newsContents02 {
    background-color: #B5C97D;
    border-radius: 5px;
    margin-bottom: 16px;
}
.newsContents03 {
    background-color: #61BCCC;
    border-radius: 5px;
    margin-bottom: 16px;
}
.newsContents04 {
    background-color: #429AD0;
    border-radius: 5px;
    margin-bottom: 16px;
}
.newsContents05 {
    background-color: #429AD0;
    border-radius: 5px;
    margin: 0 16px 16px 0;
}
.newsContents06 {
    background-color: #C9CACA;
    border-radius: 5px;
    margin: 0 16px 16px 0;
}
.newsContentTxt01 {
    font-size: 1.6rem;
    color: #F6F6F6;
    letter-spacing: 0.2em;
    font-weight: 600;
    padding: 8px 16px;
}
.newsContentTxt02 {
    color: #EFB66D;
    font-size: 1.4rem;
    letter-spacing: -0.2em;
    margin-bottom: 0;
    padding-top: 10px;
}
.newsContentTxt03 {
    color: #B5C97D;
    font-size: 1.4rem;
    letter-spacing: -0.2em;
    margin-bottom: 0;
    padding-top: 10px;
}
.newsContentTxt04 {
    color: #61BCCC;
    font-size: 1.4rem;
    letter-spacing: -0.2em;
    margin-bottom: 0;
    padding-top: 10px;
}
.newsContentTxt05 {
    font-size: 1.4rem;
    color: #595757;
    font-family: "A-OTF リュウミン Pro", sans-serif;
    letter-spacing: 0.1em;
    margin-top: 0;
    line-height: 2;
    margin-bottom: 32px;
}
.newsContentTxt07 {
    font-size: 1.4rem;
    color: #FFFFFF;
    padding: 8px 16px;
}
.newsContentTxt08 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: #429AD0;
    padding-bottom: 16px;
}
.newsContentTxt9 {
    font-size: 1.2rem;
    color: #595757;
    line-height: 2;
    padding-bottom: 16px;
}
