.figPadi {
    margin: 0;
}
.service {
    display: flex;
}
.serviceTxt01 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #595757;
}
.serviceCard {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 130px;
    height: 30px;
    left: 26%;
}
.serviceBg {
    background-color: #F6F6F6;
    padding: 16px 24px;
    margin-left: 32px;
}
.questionImg {
    position: absolute;
    top: 13%;
    left: 0;
    margin-left: 8px;
}
.serviceCardTxt {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 8px 5px 5px 32px;
}
.serviceCard02 {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height: 30px;
    left: 28%;
}
.serviceCardTxt02 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 5px;
}
.serviceBlock {
    display: flex;
    padding: 16px 0;
}
.serviceCardTxt03 {
    font-size: 1.4rem;
    color: #35A7D2;
    padding-top: 8px;
    font-weight: 600;
}
.komeColor {
    color: #429AD0;
}
.serviceCardTxt04 {
    font-size: 1.2rem;
    color: #429AD0;
    padding-top: 16px;
    font-weight: 600;
}
.serviceCardTxt05 {
    font-size: 1.2rem;
    padding-top: 8px;
}
.cardRange {
    position: relative;
}
.service02 {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    align-items: center;
    margin-top: 32px;
    padding: 16px 0;
}
.service02Txt01 {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    color: #595757;
    font-weight: 100;
    padding: 0 20px;
}
.service02Txt02 {
    font-size: 1.228rem;
    color: #595757;
    font-weight: lighter;
    border-left: 1px solid lightgrey;
    line-height: 1.83;
    padding: 0 20px;
}
.service02Txt03 {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    color: #595757;
    padding-bottom: 10px;
}
.service02Txt04 {
    font-size: 1.2rem;
    color: #595757;
}
.serviceCard03 {
    background: #35A7D2;
    border-radius: 5px;
    width: 106px;
    height: 50px;
    margin-top: 16px;
}
.service02Txt05 {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    line-height: 1.75;
}
.serviceBoxLine {
    border-left: 1px solid lightgrey;
    position: relative;
    padding: 0 0 10px 20px;
}
.serviceCard04 {
    background-color: #3E3A39;
    border-radius: 0 0 8px 8px;
    width: 196px;
    height: 31px;
    position: absolute;
    top: 115%;
    left: 43%;
}
.service02Txt06 {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 5px 0 5px;
}
.service02Txt07 {
    font-size: 1.228rem;
    color: #429AD0;
    padding-top: 8px;
}
.service02Txt08 {
    font-size: 1.228rem;
    color: #429AD0;
    padding: 8px 0 64px 0;
}
.serviceCard05 {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 130px;
    height: 30px;
    left: 20%;
}

.serviceCard06 {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height: 30px;
    left: 22%;
}
.serviceCard08 {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 130px;
    height: 30px;
    left: 15%;
}

.serviceCard09 {
    background: #35A7D2;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height: 30px;
    left: 17%;
}
