.kozuka {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
}
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: '小塚ゴシック Pro','Kozuka Gothic Pro Light',sans-serif;
}
/* ヘッダー */

#mv {
    width: 100%;
    height: 768px;
    background: url(./img/mv.png) no-repeat;
    background-size: cover;
}
.header-inner {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding-top: 20px;
}
.header-inner a {
    text-decoration: none;
}
.nav-out {
    color: #FFFFFF;
    padding: 0.5rem 0 0.5rem 11rem;
    font-size: 12px;
    background: url(./img/footer.png);
}
.logo {
    margin-left: 6rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    margin-top: 0;
}

.header-inner li {
    list-style-type: none;
    background-color: #FFFFFF;
    color: #4C4948;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #4C4948;
}

.header-inner a:nth-child(6) {
    border-right: 1px solid #4C4948;
}

.menu-title {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    color: gray;
}

.menu-title:hover {
    background-color: #35A7D2;
    color: #fff;
}
.header-news {
    background-color: #E60012;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 18px;
}
.card {
    background: #fff;
    border-radius: 0 0 5px 5px;
    width: 266px;
    height: 72px;
    position: relative;
    left: 73%;
    padding-bottom: 1rem;
}
.card2 {
    background: #fff;
    border-radius: 5px;
    text-align: left;
    width: 266px;
    height: 72px;
    position: relative;
    left: 73%;
    margin-top: 2rem;
    padding-top: 1rem;
}

.mvTel {
    width: 18px;
    height: 29px;
    position: absolute;
    top: -3px;
    left: 3px;
    margin-left: 1rem;
}
.card-text1 {
    color: #3E3A39;
    font-size: 37px;
    padding-left: 45px;
    font-family: "oswald", sans-serif;
}
.mvRec {
    width: 92px;
    height: 63px;
    position: absolute;
    top: -6px;
    left: 3px;
    margin-left: 1rem;
}
.mvMail {
    width: 52px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 3px;
    margin-left: 1rem;
}

.card-text2 {
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: normal;
    padding-left: 45px;
}
.card-text3 {
    font-size: 24px;
    color: #429AD0;
    line-height: 1.5rem;
    padding-left: 120px;
    padding-top: 5px;
    letter-spacing: 0.16em;
}
.card-text4 {
    font-size: 24px;
    color: #429AD0;
    line-height: 1.5rem;
    padding-left: 80px;
    padding-top: 5px;
    letter-spacing: 0.16em;
}
.card-text5 {
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: normal;
}
.mv-main-text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: absolute;
    letter-spacing: 0.3em;
    top: 50%;
    left: 38%;
}
.mv-main-text span {
    font-size: 35px;
    letter-spacing: 0.3em;
}

.mv-sub-text {
    color: #fff;
    position: absolute;
    top: 70%;
    left: 73%;
    line-height: 2rem;
    letter-spacing: 0.3em;
    width: 16rem;
}
.mvBird {
    position: absolute;
    top: 62%;
    left: -4%;
}
/* ボディ */

/* ご挨拶 */
#message {
    margin: 5rem 0;
}
.position {
    position: relative;
}
.mvBird02 {
    position: absolute;
    top: 10%;
    left: 72.2%;
}
.mvLeaf {
    position: absolute;
    top: 30%;
    left: -3%;
}
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.message-logo {
    color: #595757;
    border: gray 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5rem;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    text-align: center;
    font-size: 14px;
}

.message p {
    color: #429AD0;
    margin-right: 10rem;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.6em;
}

.message-text {
    text-align: center;
    padding: 0 7rem;
}

.message-text h3 {
    letter-spacing: 0.2em;
    font-size: 30px;
    color: #3E3A39;
}
.message-text span {
    font-size: 22px;
    letter-spacing: 0.2em;
}
.message-text-2 {
    font-size: 20px;
    color: #595757;
    margin-top: 2rem;
    letter-spacing: 0.1em;
    line-height: 2rem;
    font-weight: lighter;
}

.message-text-3 {
    font-size: 12px;
    color: #595757;
    margin-top: 2rem;
    font-weight: lighter;
    line-height: 1.75;
}

.message-text-4 {
    margin-top: 3rem;
    color: #595757;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.message-more {
    color: #429AD0;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 0.65rem 0.5rem;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    margin: 2rem 0;
}
.message-more02 {
    color: #429AD0;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 0.5rem;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    margin-top: 2rem;
}
.box {
    margin: 5rem 0;
}

.box1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.box2 {
    display: flex;
    border: 1px solid;
    align-items: center;
    text-decoration:  none;
    position: relative;
}

.box2 figure {
    margin: 0;
}
.mens {
    width: 365px;
    height: 267px;
    object-fit: cover;
    object-position: 50% 20%;
}
.soraLogo {
    width: 161px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 17.8%;
}
.box-text {
    color: #3E3A39;
    margin: 0 2rem;
    position: relative;
    font-size: 23px;
    letter-spacing: 0.2em;
}
.box-text01 {
    margin-top: 0;
}
.box-text01 span {
    color: #429AD0;
}
.move {
    color: #B5B5B6;
    position: absolute;
    left: 80%;
    top: 40%;
    letter-spacing: 0.6em;
    font-size: 18px;
}

.move span {
    font-size: 60px;
    letter-spacing: normal;
    font-weight: lighter;
}
.representantive {
    color: #B5B5B6;
    font-size: 12px;
    font-family: "ITC Avant Garde Gothic Std";
    line-height: 33px;
    letter-spacing: 0.1em;
}
.representantive span {
    font-size: 24px;
    letter-spacing: 0.4em;
}
.button {
    text-align: center;

}
.service-box {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    display: table;
}
.service-box2 {
    border-bottom: 1px solid rgba(180,180,180,0.5);
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.service-box2 figure {
    margin-left: 0;
}
.service-box2 img{
    border-radius: 5px;
    width: 350px;
    height: 225px;
    object-fit: cover;
}
.service-box2:nth-child(4) {
    border-style: none;
}
.service-text {
    width: 750px;
    text-align: left;
    margin-right: 1rem;
}
.service-text2 {
    font-size: 20px;
    color: #429AD0;
    margin-top: 0;
    letter-spacing: 0.2em;
}
.service-text3 {
    color: #595757;
    font-size: 12px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
}

.item {
    width: 350px;
    margin: 0;
    padding: 1rem;
}

.image {
    margin: 0;
    padding: 0;
}
.imageTxt {
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}

.infoImg {
    width: 350px;
    height: 217px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.container {
    display: flex;
    justify-content: center;
}

.content-color {
    background-color: white;
    border-radius: 5px;
}

.item-list .content-color{
    padding: 0;
    margin: 3rem 1rem;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mt-3 {
    margin-top: 3rem;
}

.mv2 {
    position: relative;
}
.mv2-img{
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: 0 80%;
}
.mv2 figure {
    margin: 0;
}
.mv02Bird {
    position: absolute;
    top: 10%;
    right: 31.5%;
}
.mv2-main-text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: absolute;
    width: 40rem;
    top: 25%;
    left: 15%;
    letter-spacing: 0.3em;
}
.mv2-main-text span {
    font-size: 35px;
    letter-spacing: 0.3em;
}
.mv2-card {
    background: #fff;
    text-align: left;
    width: 20%;
    top: 0;
    right: 10%;
    position: absolute;
    padding: 1rem;
}
.mv2-card-text1 {
    font-size: 27px;
    letter-spacing: 0.2em;
    line-height: 1.75;
    text-align: left;
    font-weight: 500;
    padding-left: 1rem;
}
.mv2-card-text2{
    font-size: 12px;
    color: #595757;
    line-height: 2;
    padding-left: 1rem;
}
.recruit-content {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.recruit-contents {
    font-weight: 100;
    letter-spacing: 0.1em;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 18px;
}
.recruit-box {
    background-color: #429AD0;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.recrui-text {
    font-size: 24px;
    letter-spacing: 0.2em;
    margin: 1rem 0;
}
.recruit-item {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
}
.recruit-item2 {
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
}
.recruitImg01 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 65% 50%;
}
.recruitImg02 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 50% 50%;
}
.recruitImg03 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 25% 50%;
}
.recruitImg04 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 20% 50%;
}
.recruitImg05 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 50% 50%;
}
.recruitImg06 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 50% 50%;
}
.recruitImg07 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    object-fit: cover;
    object-position: 70% 50%;
}
.recruitImg08 {
    border-radius: 50%;
    width: 200.8069px;
    height: 200.8069px;
    background-color: #F6F6F6;
}
.recruitPosition {
    text-align: center;
    color: #429AD0;
    font-size: 16px;
    letter-spacing: 0.2em;
    position: relative;
    top: -45%;
}
.recruit-item-text {
    text-align: center;
    color: #595757;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.81;
    font-weight: 100;
}

.new-main {
    background-color: #F6F6F6;
}
.new-content {
    display: flex;
    background-color: white;
    width: 70%;
    margin: 1rem 0 5rem 0;
    padding: 3rem 4rem;
}
.new-content figure {
    margin-left: 0;
}
.new-content-text {
    border-bottom: 1px solid rgba(180,180,180,0.5);
}
.new-contents-text1 {
    font-size: 14px;
    color: #595757;
    font-family: "A-OTF リュウミン Pro", sans-serif;
    letter-spacing: 0.1em;
}
.new-contents-text2 {
    color: #429AD0;
    font-size: 14px;
    letter-spacing: -0.2em;
}
.new-contents-text3 {
    font-size: 12px;
    color: #595757;
}
.new-contents-text4 {
    color: #429AD0;
    font-size: 16px;
    letter-spacing: 0.1em;
}
iframe{
    width:100%;
    height:100vh;
}

.footer-out {
    color: white;
    padding: 0.5rem 0 0.5rem 11rem;
    font-size: 0.75rem;
    background: url(./img/footer.png);
}
.pt-4 {
    padding-top: 4rem;
}

.dot {
    display: flex;
}
.dot-content {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: lightgrey;
    margin: 20rem 1rem 0 0;
}
.dot-content1 {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: rgb(67, 155, 208);
    margin: 20rem 1rem 0 0;
}
